.wasHelpful {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-md);
  padding: var(--spacing-lg) var(--spacing-md) var(--spacing-xl);
  max-width: var(--layout-width);
  margin: 0 auto;

  /* background: var(--color-primary-light);
  border-radius: var(--radius-md); */

  hr {
    width: 100%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    &:first-of-type {
      margin-bottom: var(--spacing-lg);
    }

    &:last-of-type {
      margin-top: var(--spacing-lg);
    }
  }
}

.buttons {
  width: 100%;
}

/* .buttons {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  align-items: center;

  @media (max-width: 767px) {
    flex-direction: column;
  }
} */

.heading {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
}

/* Style Options Override */
:global(.blog) .container {
  max-width: var(--blog-width);
}
