.hero {
  width: 100%;
}

.container {
  max-width: var(--layout-width);
  margin: 0 auto;
  padding: var(--spacing-xl) var(--spacing-md);
}

.textLeft {
  text-align: left;
}

.textCenter {
  text-align: center;
}

.textRight {
  text-align: right;
}

.split .container {
  display: flex;
  align-items: center;
  gap: 5rem;

  .text {
    flex: 1;
  }

  .image {
    flex: 0.75;

    img {
      border-radius: var(--radius-md);
      width: 100%;
      height: auto;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column-reverse;
    gap: var(--spacing-xl);

    .image {
      max-width: 500px;
    }
  }
}

.title {
  margin-block: 0 var(--spacing-sm);
  line-height: 1;
}

.subheading {
  margin-block: 0 var(--spacing-md);
  line-height: var(--line-height-tight);
}

.cta {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
  margin-top: var(--spacing-md);
}
