.tabs {
  width: 100%;
  padding-top: var(--spacing-xl);
  padding-bottom: var(--spacing-xl);
}

.container {
  width: 100%;
  max-width: var(--layout-width);
  margin: 0 auto;
  padding-left: var(--spacing-md);
  padding-right: var(--spacing-md);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    width: 100%;
    margin-block: 0;
  }
}

.heading {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.text {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;

  @media (max-width: 767px) {
    flex: 1;
    width: 100%;
    align-items: flex-start;
  }
}

.headingHorizontal {
  flex-direction: row;
  justify-content: space-between;

  .container {
    flex: 1;
  }

  .title {
    margin-bottom: 0;
    text-wrap: pretty;
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.headingVertical {
  flex-direction: column;
  justify-content: flex-start;
}

/* .tabsContainer {
  padding-top: var(--spacing-lg);
  padding-bottom: var(--spacing-lg);
} */

.tabContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  max-width: 800px;
  margin: 0 auto;

  ul {
    columns: 1;
  }

  :global(.textPrimary) {
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-lg);
  }

  @media (max-width: 767px) {
    flex-direction: column;
    gap: var(--spacing-lg);
    align-items: flex-start;
  }

  &.vertical {
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--spacing-lg);

    .tabsContainer {
      padding-top: var(--spacing-lg);
      padding-bottom: var(--spacing-lg);
    }

    .tabImage {
      img {
        width: auto;
      }
    }
  }
}

.tabText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-md);
  flex: 1;
}

.tabImage {
  width: 100%;
  height: auto;
  max-width: 175px;
  align-items: center;

  img {
    position: relative;
    width: 100%;
    height: auto;
  }
}

.gridItems {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  gap: var(--spacing-md);

  @media (min-width: 480px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.gridItem {
  img {
    width: 100%;
    height: auto;
    border-radius: var(--radius-md);
  }
}

.default {
  .container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
  }
}

:global(.orientationVertical) {
  .tabsContainer {
    padding-top: var(--spacing-lg);
    padding-bottom: var(--spacing-lg);
  }
}

.fullBleed {
  position: relative;

  .container {
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    overflow: hidden;
    max-width: unset;
    padding: 0;

    img {
      transition:
        width 0.3s ease-in-out,
        height 0.3s ease-in-out;
    }
  }

  .overlay {
    width: 100%;
    max-width: var(--layout-width);
    margin: 0 auto;
    z-index: 3;
    position: relative;
    padding-left: var(--spacing-md);
    padding-right: var(--spacing-md);
  }

  .heading {
    z-index: 3;
    position: relative;
    max-width: 665px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);

    background-color: #fff;
    padding: var(--spacing-xl);
    border-radius: var(--radius-md);
  }

  .text {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

    @media (max-width: 767px) {
      flex: 1;
      width: 100%;
      align-items: flex-start;
    }
  }

  &:global(.paddingTopBanner),
  &:global(.paddingTop4),
  &:global(.paddingTop2),
  &:global(.paddingTop1) {
    padding-top: 0;
  }

  &:global(.paddingBottomBanner),
  &:global(.paddingBottom4),
  &:global(.paddingBottom2),
  &:global(.paddingBottom1) {
    padding-bottom: 0;
  }

  &:global(.paddingTopBanner) {
    .overlay {
      padding-top: 8rem;
    }
  }

  &:global(.paddingBottomBanner) {
    .overlay {
      padding-bottom: 8rem;
    }
  }

  &:global(.paddingTop4) {
    .overlay {
      padding-top: 4rem;
    }
  }

  &:global(.paddingBottom4) {
    .overlay {
      padding-bottom: 4rem;
    }
  }

  &:global(.paddingTop2) {
    .overlay {
      padding-top: 2rem;
    }
  }

  &:global(.paddingBottom2) {
    .overlay {
      padding-bottom: 2rem;
    }
  }

  &:global(.paddingTop1) {
    .overlay {
      padding-top: 1rem;
    }
  }

  &:global(.paddingBottom1) {
    .overlay {
      padding-bottom: 1rem;
    }
  }
}
