.animatedSpan {
  position: relative;
  display: inline-block;
  min-height: 29px;
  height: 100%;
  width: 100%;
  margin-bottom: 0 !important;
}

.previous,
.current {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  white-space: nowrap;
  transition:
    transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out;

  color: var(--color-primary-100);

  &::first-letter {
    text-transform: capitalize;
  }
}

.previous {
  opacity: 1;
  transform: translateX(0);
}

.current {
  opacity: 0;
  transform: translateX(100px);

  & > span::first-letter {
    display: block;
    text-transform: capitalize;
  }
}

.slideOff {
  opacity: 0;
  transform: translateX(-100px);
}

.slideOn {
  opacity: 1;
  transform: translateX(0);
}

.reset {
  opacity: 0;
  transform: translateX(100px);
  transition: none;
}
