.richText {
  width: 100%;
}

.container {
  max-width: var(--layout-width);
  margin: 0 auto;
  padding: 0 var(--spacing-md);
}

/* Style Options Override */
:global(.blog) .container {
  max-width: var(--blog-width);
}
