.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* gap: var(--spacing-md); */
}

.container :global(*) {
  margin-bottom: 1rem;

  &:has(+ .divider) {
    margin-bottom: 0;
  }
}

.container ul {
  padding-top: var(--spacing-md);
  padding-bottom: var(--spacing-md);
}

.container :global(*:last-child) {
  margin-bottom: 0;
}

.container .richTextImage {
  border-radius: var(--radius-md);
  margin: 0 auto;
  overflow: hidden;
  line-height: 0;
  margin-bottom: 1rem;
}

.container .richTextLink {
  color: var(--color-secondary-100);
  text-decoration: underline;
  font-weight: var(--font-weight-semibold);
  transition:
    color 0.3s ease-in-out,
    text-decoration 0.3s ease-in-out;

  &:hover {
    color: var(--color-primary-100);
    text-decoration: underline;
  }
}

.container .divider {
  border: none;
  border-top: 1px solid var(--color-secondary-25);
  margin: var(--spacing-md) 0;
}

.container :global(.text-small) {
  font-size: var(--font-size-sm);
}

.container :global(.text-medium) {
  font-size: var(--font-size-md);
}

.container :global(.text-large) {
  font-size: var(--font-size-lg);
}

.container :global(.text-xlarge) {
  font-size: var(--font-size-xl);
}
