.layout {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: var(--layout-width);
  padding: var(--spacing-xl) var(--spacing-md);
  gap: var(--spacing-xl);
  position: relative;
}

.scroll {
  display: flex;
  gap: var(--spacing-xl);
}

.sidebar {
  flex: 0.5;
  position: sticky;
  top: 30%; /* OR 50% minus header height */
  align-self: flex-start;
  min-height: 400px;
  display: flex;
  align-items: center;
  padding: 0 var(--spacing-xl);

  @media (max-width: 767px) {
    display: none;
  }
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  columns: 1;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);

  li {
    .number {
      background-color: var(--color-muted);
      color: var(--color-text-primary);
      font-weight: var(--font-weight-semibold);
      font-size: var(--font-size-lg);
      width: 35px;
      height: 35px;
      border-radius: var(--radius-full);
      display: flex;
      align-items: center;
      justify-content: center;
      transition:
        color 0.3s ease-in-out,
        background-color 0.3s ease-in-out;
    }

    .link {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: var(--spacing-sm);

      font-size: var(--font-size-md);
      text-decoration: none;
      color: var(--color-text-primary);
      background-color: transparent;
      border: none;
      font-weight: var(--font-weight-semibold);
      transition: color 0.3s ease-in-out;

      &.active {
        color: var(--color-primary);

        .number {
          background-color: var(--color-primary);
          color: #fff;
        }
      }
    }
  }
}

.content {
  flex: 1;
}

.item {
  scroll-margin-top: 100px;
  margin-bottom: 6rem;
  height: 40vh;
  display: flex;
  align-items: center;
  gap: 2rem;

  &:last-of-type {
    margin-bottom: 0;
  }

  .text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
  }

  .title {
    margin-block-end: 0;
  }

  .image {
    flex: 0.5 0;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      max-width: 200px;
      height: auto;
    }
  }

  @media (max-width: 767px) {
    flex-direction: column-reverse;
    height: auto;

    .image {
      flex: 1;
      width: 100%;
      max-width: 150px;
      align-self: flex-start;
    }
  }
}
