.cardGrid {
  width: 100%;
}

.container {
  max-width: var(--layout-width);
  margin: 0 auto;
  padding: var(--spacing-xl) var(--spacing-md);
}

.grid {
  margin-top: var(--spacing-md);
}

.title {
  &::first-letter {
    text-transform: capitalize;
  }
}

/* Style Options Override */
:global(.split) .grid {
  margin-top: 0;
  flex: 1;
}

/* Style Options

.removePaddingTop {
  padding-top: 0;
}

.removePaddingBottom {
  padding-bottom: 0;
}

.split {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 3rem;

  .grid {
    margin-top: 0;
    flex: 1;
  }
} */
