.cardGrid {
  width: 100%;
  padding-top: var(--spacing-xl);
  padding-bottom: var(--spacing-xl);
}

.container {
  width: 100%;
  max-width: var(--layout-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  padding-left: var(--spacing-md);
  padding-right: var(--spacing-md);
}

.heading {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    width: 100%;
    margin-bottom: 0;
  }
}

.headingHorizontal {
  flex-direction: row;
  justify-content: space-between;

  .title {
    margin-bottom: 0;
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.headingVertical {
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  &::first-letter {
    text-transform: capitalize;
  }
}

h3.description {
  font-size: var(--font-size-xl);
  margin-top: var(--spacing-md);
}

.disclaimer {
  font-size: var(--font-size-sm);
  color: var(--color-muted);
  line-height: var(--line-height-tight);
}

/* Style Options Override */
:global(.split) .grid {
  margin-top: 0;
  flex: 1;
  flex-direction: row;
}

.grid {
  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }
}

/* Style Options
.removePaddingTop {
  padding-top: 0;
}

.removePaddingBottom {
  padding-bottom: 0;
}

.split {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 3rem;

  .grid {
    margin-top: 0;
    flex: 1;
  }
} */
