.cardGrid {
  width: 100%;
}

.container {
  max-width: var(--layout-width);
  margin: 0 auto;
  padding: var(--spacing-xl) var(--spacing-md);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.title {
  &::first-letter {
    text-transform: capitalize;
  }
}

h3.description {
  font-size: var(--font-size-xl);
  margin-top: var(--spacing-md);
}

/* Style Options Override */
:global(.split) .grid {
  margin-top: 0;
  flex: 1;
  flex-direction: row;
}

.grid {
  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }
}

/* Style Options
.removePaddingTop {
  padding-top: 0;
}

.removePaddingBottom {
  padding-bottom: 0;
}

.split {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 3rem;

  .grid {
    margin-top: 0;
    flex: 1;
  }
} */
