.featuredDocuments {
  width: 100%;
  padding-top: var(--spacing-xl);
  padding-bottom: var(--spacing-xl);
}

.container {
  width: 100%;
  max-width: var(--layout-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  padding-left: var(--spacing-md);
  padding-right: var(--spacing-md);
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  width: 100%;

  @media (max-width: 767px) {
    gap: 2rem;
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-md);
  }

  & > div {
    flex: 1;
  }

  a {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
    color: var(--color-primary);
    font-weight: var(--font-weight-semibold);
    text-decoration: none;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: var(--color-secondary);
    }
  }
}

.title {
  flex: 1;
  text-wrap: balance;
}

.text {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;

  @media (max-width: 767px) {
    flex: 1;
    width: 100%;
    align-items: flex-start;
  }
}

.disclaimer {
  color: var(--color-muted);
  font-size: var(--font-size-sm);
}

.carousel {
  display: block;

  .document {
    /* max-width: 350px; */
    max-width: 288.5px; /* 4 card carousel, card width */
    margin: 0 auto;

    @media (max-width: 767px) {
      max-width: unset;
    }
  }
}

.documents {
  display: grid;
  gap: var(--spacing-md);

  &.col1 {
    display: block;

    .document {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: var(--spacing-lg);

      @media (max-width: 767px) {
        flex-direction: column;
        gap: var(--spacing-md);
      }
    }

    .documentImage {
      flex: 1;
    }

    .documentContent {
      flex: 0.4;
    }
  }

  &.col2 {
    grid-template-columns: repeat(2, 1fr);

    .document {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-md);
    }

    .documentImage {
      height: 200px;
    }
  }

  &.col3 {
    grid-template-columns: repeat(3, 1fr);

    .document {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-md);
    }

    .documentImage {
      height: 200px;
    }
  }

  &.col4 {
    grid-template-columns: repeat(4, 1fr);

    .document {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-md);
    }

    .documentImage {
      height: 200px;
    }
  }

  &.featuredTop {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: var(--spacing-xl);

    @media (max-width: 767px) {
      row-gap: var(--spacing-xl);
    }

    .document:not(:first-of-type) {
      .documentExcerpt {
        display: none;
      }

      @media (max-width: 767px) {
        .documentExcerpt {
          display: block;
        }
      }
    }

    .document:first-of-type {
      grid-column: 1/4;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: var(--spacing-lg);

      @media (max-width: 767px) {
        flex-direction: column;
        gap: var(--spacing-md);
      }

      .documentImage {
        flex: 1;
        height: 350px;
      }

      .documentContent {
        flex: 0.4;
      }
    }
  }

  &.featuredLeft {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--spacing-xl);

    @media (max-width: 767px) {
      column-gap: var(--spacing-md);
    }

    .document:not(:first-of-type) {
      flex-direction: row;
      gap: var(--spacing-md);

      @media (max-width: 767px) {
        flex-direction: column;
      }

      .documentImage {
        height: auto;
        flex: 0.5;
      }

      .documentContent {
        flex: 1;
      }

      @media (max-width: 767px) {
        .documentExcerpt {
          display: block;
        }
      }
    }

    .document:first-of-type {
      grid-row: 1/4;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .documentImage {
        flex: 1;
        height: 350px;
      }

      .documentContent {
        flex: 0.4;
      }
    }
  }

  &.twoColumn {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    .document {
      flex-direction: row;
      gap: var(--spacing-md);
      align-items: center;
    }
  }

  @media (max-width: 767px) {
    &.col1,
    &.col2,
    &.col3,
    &.col4,
    &.featuredTop,
    &.featuredLeft,
    &.twoColumn {
      display: flex;
      flex-direction: column;

      .document:first-of-type,
      .document:not(:first-of-type) {
        flex-direction: column;
        gap: var(--spacing-md);

        .documentImage {
          flex: unset;
          height: 250px;
        }

        .documentContent {
          flex: 1;
          width: 100%;
        }
      }

      .documentImage {
        height: 250px;
      }
    }
  }

  @media (max-width: 767px) {
    gap: var(--spacing-xl);
  }
}

.multiple {
  .documents {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--spacing-md);
  }

  .document {
    display: flex;
    flex-direction: column;
  }

  .documentImage {
    height: 200px;
  }
}

.document {
  display: flex;
  /* gap: var(--spacing-md); */
  text-decoration: none;
  /* border: 2px solid var(--color-muted); */
  overflow: hidden;
  transition: border-color 0.3s ease-in-out;

  &:hover {
    border-color: var(--color-primary);

    .documentImage {
      img {
        transform: scale(1.05);
      }
    }

    .documentTitle {
      h3 {
        color: var(--color-primary);
      }
    }

    .callToAction {
      .label {
        opacity: 1;
        transform: translateY(0);
        color: #fff;
      }

      .icon {
        color: var(--color-primary);
      }
    }
  }
}

.documentEyebrow {
  font-size: var(--font-size-sm);
  color: var(--color-secondary);
}

.documentImage {
  width: 100%;
  height: 100%;
  max-height: 350px;
  position: relative;
  overflow: hidden;
  border-radius: var(--radius-md);
  line-height: 0; /* Fix extra bottom white space */

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }
}

.documentTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-lg);
}

.documentContent {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  width: 100%;
  color: var(--color-text-primary);
  /* padding: var(--spacing-md) 0; */

  h3 {
    flex: 1;
    font-size: var(--font-size-lg);
    margin-bottom: 0;
    transition: color 0.3s ease-in-out;
  }

  p {
    text-decoration: none;
  }
}

.callToAction {
  position: relative;
  /* bottom: 0.75rem;
  right: 0.75rem; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--spacing-sm);
  /* margin-top: var(--spacing-md); */

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    /* padding: var(--spacing-xs); */

    background-color: transparent;
    color: var(--color-text-primary);
    /* border: 5px solid #fff;
    border-radius: var(--radius-full); */
    transition:
      color 0.3s ease-in-out,
      background-color 0.3s ease-in-out,
      border-color 0.3s ease-in-out;
  }

  .label {
    color: var(--color-primary);
    font-weight: var(--font-weight-semibold);
    opacity: 0;
    transform: translateY(10px);
    transition:
      opacity 0.3s ease-in-out,
      transform 0.3s ease-in-out;
  }
}

/* Style Options Override */
:global(.blog) .container {
  max-width: var(--blog-width);
}
