.documentList {
  width: 100%;
  padding-top: var(--spacing-xl);
  padding-bottom: var(--spacing-xl);
  overflow: hidden;
  /* position: relative; */
}

.container {
  width: 100%;
  max-width: var(--layout-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  padding-left: var(--spacing-md);
  padding-right: var(--spacing-md);
}

.heading {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.listContainer {
  display: flex;
  gap: var(--spacing-xl);
  align-items: flex-start;

  @media (max-width: 767px) {
    flex-direction: column;
    gap: var(--spacing-sm);
  }
}

.listWrapper {
  flex: 1;
  width: 100%;
}

.list {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--spacing-xl);

  @media (min-width: 500px) {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-md);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.listHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--spacing-md);

  @media (max-width: 767px) {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: var(--spacing-md);
  }
}

.listSearch {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  flex: 1;

  & > div {
    width: 100%;
  }

  input {
    min-width: 250px;
    padding-right: 40px;
    height: 40px;
  }

  @media (max-width: 767px) {
    min-width: unset;
    width: 100%;

    input {
      min-width: unset;
    }
  }
}

.clearSearch {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38.5px; /* Match input */
  width: 38.5px;
  border-radius: var(--radius-md);
  border: none;
  background-color: var(--color-primary-100);
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: var(--color-secondary);
  }
}

.listHeaderFilters {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
  flex-wrap: wrap;

  @media (max-width: 767px) {
    width: 100%;
  }
}

.listResults {
  color: var(--color-text-primary);
}

.listSort {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  color: var(--color-text-primary);

  select {
    padding: var(--spacing-sm);
    font-size: var(--font-size-md);
    border: 2px solid var(--color-border);
    border-radius: var(--radius-md);
    background-color: var(--color-background);
    color: var(--color-text-primary);
    height: 40px;

    &:disabled {
      background-color: var(--color-secondary-25);
      color: var(--color-secondary-75);
      cursor: not-allowed;
    }
  }
}

.filterToggle {
  display: none;
  align-items: center;
  gap: var(--spacing-sm);
  margin-bottom: var(--spacing-sm);

  button {
    width: auto !important;
  }

  @media (max-width: 767px) {
    display: flex;
  }
}

.filterHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  button {
    display: none;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: var(--color-primary-100);
    border: none;
    cursor: pointer;

    @media (max-width: 767px) {
      display: flex;
    }
  }
}

.loadMore {
  margin-top: var(--spacing-xl);
}

.filterList {
  @media (max-width: 767px) {
    overflow: auto;
    height: calc(100% - (40px + 2rem));
  }
}

.listFilters {
  flex: 0.175;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--spacing-sm);
  position: relative;

  .applyFilters {
    display: none;
  }

  @media (max-width: 767px) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100dvh;
    min-height: 100dvh;
    background-color: #fff;
    border-radius: var(--radius-md) var(--radius-md) 0 0;
    padding: calc(var(--nav-height) + 2rem) var(--spacing-xl) var(--spacing-xl);
    z-index: 5;
    transition: transform 0.3s ease-in-out;
    transform: translateY(300%);

    .applyFilters {
      display: block;
      position: absolute;
      bottom: var(--spacing-md);
      left: 0;
      right: 0;
      width: calc(100% - 2rem);
      margin: 0 auto;
    }

    &.show {
      transform: translateY(0);

      .applyFilters {
        transition: transform 0.3s ease-in-out;
        transform: translateY(0);
      }
    }

    &.hide {
      transform: translateY(300%);

      .applyFilters {
        transition: transform 1s ease-in-out;
        transform: translateY(200%);
      }
    }
  }

  .wrapper {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
  }

  input[type="checkbox"] {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 2px solid var(--color-border);
    border-radius: var(--spacing-xs);
    position: relative;
    cursor: pointer;
    transition:
      background 0.2s,
      border-color 0.2s;
    margin: 0;

    &:checked {
      background-color: var(--color-primary-100);
      border-color: var(--color-primary-100);
    }

    &:disabled {
      background-color: var(--color-muted);
      cursor: not-allowed;
    }
  }

  label {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
    color: var(--color-text-primary);
    cursor: pointer;
    user-select: none;
    margin: 0;
  }
}

.buttonIsLoading {
  svg {
    animation: rotate 2s linear infinite;
  }
}

/* .loadMore {
  button {
    span {
      display: flex;
      align-items: center;
      gap: var(--spacing-md);
    }
  }
} */

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
