.documentList {
  width: 100%;
  padding-top: var(--spacing-xl);
  padding-bottom: var(--spacing-xl);
}

.container {
  width: 100%;
  max-width: var(--layout-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  padding-left: var(--spacing-md);
  padding-right: var(--spacing-md);
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-md);
}

.item {
  display: flex;
  flex-direction: column;
  /* gap: var(--spacing-md); */
  text-decoration: none;
  /* border: 2px solid var(--color-muted); */
  overflow: hidden;
  transition: border-color 0.3s ease-in-out;

  &:hover {
    border-color: var(--color-primary);

    .itemImage {
      img {
        transform: scale(1.05);
      }
    }

    .itemTitle {
      h3 {
        color: var(--color-primary);
      }
    }

    .callToAction {
      .label {
        opacity: 1;
        transform: translateY(0);
        color: #fff;
      }

      .icon {
        color: var(--color-primary);
      }
    }
  }
}

.category {
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
  display: flex;
  align-items: center;
  color: #fff;
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--radius-full);
  z-index: 2;

  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.callToAction {
  position: relative;
  /* bottom: 0.75rem;
  right: 0.75rem; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--spacing-sm);
  /* margin-top: var(--spacing-md); */

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    /* padding: var(--spacing-xs); */

    background-color: transparent;
    color: var(--color-text-primary);
    /* border: 5px solid #fff;
    border-radius: var(--radius-full); */
    transition:
      color 0.3s ease-in-out,
      background-color 0.3s ease-in-out,
      border-color 0.3s ease-in-out;
  }

  .label {
    color: var(--color-primary);
    font-weight: var(--font-weight-semibold);
    opacity: 0;
    transform: translateY(10px);
    transition:
      opacity 0.3s ease-in-out,
      transform 0.3s ease-in-out;
  }
}

.itemContent {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  color: var(--color-text-primary);
  padding: var(--spacing-md) 0;

  h3 {
    flex: 1;
    font-size: var(--font-size-lg);
    margin-bottom: 0;
    transition: color 0.3s ease-in-out;
  }

  p {
    text-decoration: none;
  }
}

.itemTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-lg);
}

.itemImage {
  width: 100%;
  height: 100%;
  max-height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: var(--radius-md);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }
}
